.cards-trilhas {
  margin: 200px 0 300px;
  display: flex;
  justify-content: space-between;

  div {
    width: 300px;
    height: 320px;
    border-radius: 20px;
    border: 2px solid #ff7823;
    box-shadow: 0px 0px 5px 1px #ff7823;
    padding: 30px 20px;

    span {
      
      font-weight: 600;
      font-size: 20px;
      line-height: 29px;
      color: #898684;
    }

    h4 {
      width: 247px;
      margin: 8px 0 24px;
      
      font-weight: 500;
      font-size: 26px;
      line-height: 39px;
      color: #c9c6c4;
    }

    p {
      
      font-weight: 600;
      font-size: 20px;
      line-height: 29px;
      color: #ffffff;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 64px;

    div {
      height: 300px;
    }
  }
}
