.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f7f3f1;
  border-radius: 16px;
  width: 280px;
  height: 262px;
  padding: 50px 24px;

  .ordem {
    position: absolute;
    top: -45px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
      width: 239px;
      height: 258px;
    }

    p {
      
      font-weight: 700;
      font-size: 48px;
      line-height: 59px;
      color: #ffffff;
      z-index: 3;
      margin-top: 15px;
    }
  }

  h2 {
    
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #212121;
  }

  p {
    
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #212121;
  }
}
