<app-menu></app-menu>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <p class="saudacao"> Olá {{inscricoes.usuario.nome}}!</p>
            <h5>Pronto (a) dar os próximos passos na sua trilha de sucesso?</h5>
            <ng-container *ngFor="let trilha of inscricoes.trilhas">
                <div>
                    <p class="trilha-escolhida"> UX/UI Design</p>
                    <p class="progresso">Olha o quando você caminhou pela trilha:</p>
                </div>
                <div class="progress">
                    <div class="progress-bar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div style="display: flex;" class="form-group justify-content-end">
                    <div class="col-md-offset-2 mt-3">
                        <span><button class="btn" type="submit">Continuar trilha</button></span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="container">
    <hr class="separator" />
</div>
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-4 col-12 img-card-trilhas"></div>
        <div class="col-md-6 col-12 align-items-center" style="display: flex;">
            <div class="container-fluid" style="padding: 0px;">
                <div class="row card-trilha">
                    <div class="col-md-12 col-12">
                        <p class="convite">Você sabe que pode adicionar mais trilhas?</p>
                        <p class="convite-2">A qualquer momento você pode adicionar outras trilhas para seguir.</p>
                        <div style="display: flex;" class="form-group justify-content-end">
                            <div class="col-md-offset-2 mt-3">
                                <span><button (click)="abrirModal()" class="btn-primario">Adicionar
                                        trilha</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3 mb-5" style="padding-bottom: 100px !important;">
    <div class="row justify-content-center">
        <div class="col-md-4 col-12 img-card-discord"></div>
        <div class="col-md-6 col-12 align-items-center" style="display: flex;">
            <div class="container-fluid" style="padding: 0px;">
                <div class="row card-trilha">
                    <div class="col-md-12 col-12">
                        <p class="convite">Já conhece a nossa comunidade no Discord?</p>
                        <p class="convite-2">Lá você consegue conversar com pessoas que estão passando pelo mesmo
                            momento que você. Troca de ideias,
                            conhecimentos.</p>
                        <div style="display: flex;" class="form-group justify-content-end">
                            <div class="col-md-offset-2 mt-3">
                                <span><button class="btn-primario"><a href="https://discord.com/invite/NtESsDFGx5"
                                            target="_blank" rel="noopener noreferrer">Conhecer
                                            comunidade</a></button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>