.titulo {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;

  margin: 113px 0 0 248px;

  span {
    font-family: sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
  }

  @media (max-width: 768px) {
    width: 300px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #b4b0ae;
    margin: 78px auto 10px;
    text-align: center;

    span {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #f7f3f1;
      -webkit-text-stroke-width: 0;
    }
  }
}

.progresso-container {
  margin: -18px 0 -13px 140px;
  display: flex;
  align-items: center;
  gap: 8px;

  .barra {
    border: 1.5px solid #ff7823;
    background-color: #ff7823;
    width: 26px;
    height: 0px;
    border-radius: 5px;
  }

  img:first-child {
    margin-right: -76px;
  }

  @media (max-width: 768px) {
    justify-content: center;
    margin: 0;
    height: 60px;
    gap: 2px;
    img {
      width: 32.71px;
      height: 39.69px;
    }

    img:first-child {
      margin-left: -20px;
      margin-right: -40px;
      width: 100px;
      height: 100px;
    }
  }
}

.botao-container {
  padding-right: 250px;
  text-align: right;
  margin-bottom: 100px;

  button {
    width: 164px;
    height: 41px;
    background: rgba(255, 120, 35, 0.2);
    border: 2px solid #ff7823;
    box-shadow: 0px 0px 11px #ff7823;
    border-radius: 24px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fffbf9;
  }

  @media (max-width: 768px) {
    padding: 0;
    text-align: center;
    margin: 32px 0 80px;
  }
}

.subtitulo {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  line-height: 49px;
  color: #ffffff;
  margin-left: 10%;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.conteudos-container {
  margin-left: 5%;
}

.collapse-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin: 0 200px 0 100px;

  div {
    display: flex;
    align-items: center;

    .collapse-ordem {
      width: 40.38px;
      height: 49px;
      margin-right: 30px;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;

      img {
        width: 100px;
        height: 89px;
      }
      p {
        position: relative;
        right: 110%;
        top: 10%;
      }
    }

    .collapse-titulo {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 22px;
      line-height: 39px;
      color: #ffffff;
      padding-top: 10px;
    }
  }

  img {
    width: 50px;
  }

  @media (max-width: 768px) {
    margin: 0;
  }
}

.collapse-body {
  ul {
    li {
      display: flex;
      justify-content: space-between;
      margin: 0px 250px 10px 150px;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #ffffff;
      list-style: none;

      button {
        outline: 0;
        border: 2px solid #ffaa1a;
        border-radius: 20px;
        background: transparent;
        padding: 5px 10px;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ffff;
      }
    }
  }

  @media (max-width: 768px) {
    ul {
      li {
        margin: 0 0 20px;
      }
    }
  }
}
