<app-navbar-login-cadastro></app-navbar-login-cadastro>
<div flex>
    <div class="card-container tab-login"  fxLayout="row" fxLayoutGap="20px">
        <div fxFill fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="8px">
            <div fxFlex="calc(30% -4px)" fxFlex.lt-md="calc(100% -4px)">
                <mat-card class="mat-elevation-z0 formatacao-label">
                    <p style="text-align: center">Para acessar o conteúdo, crie ou entre na sua conta.</p>
                    <mat-tab-group  class="label-active" mat-align-tabs="center" animationDuration="0ms">
                        <mat-tab  label="Criar conta">
                            <app-cadastro></app-cadastro>
                        </mat-tab>
                        <mat-tab label="Já tenho conta">
                            <app-login></app-login>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </div>
        </div>
    </div>
</div>