.card-container,
mat-card,
html {
    background: transparent;
}

.tab-login {
    background: url('../../../assets/medias/PatternFundoTelaHomeSuperior.svg') no-repeat;
    background-color:#212122;
}

.mat-tab-user {
    color: #FF7823 !important;
}

mat-card p {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-size: 24px;
    color: #E0DCDA;
}

.formatacao-label {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}
