<div class="container mt-5">
    <div class="row justify-content-center">

        <div class="col-md-6 col-12">
            <form class="row justify-content-center" novalidate (ngSubmit)="adicionarConta()" [formGroup]="cadastroForm"
                autocomplete="off">

                <div class="col-md-10 mt-3">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control" placeholder="Digite seu nome" name="nome"
                        formControlName="nome" autocomplete="off">
                </div>

                <div class="col-md-10 mt-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" placeholder="Digite seu email" name="email"
                        formControlName="email" autocomplete="off">
                </div>

                <div class="col-md-10 mt-3">
                    <label class="form-label">Senha</label>
                    <input class="form-control" type="password" placeholder="Digite sua senha" name="senha"
                        formControlName="senha" minlength="8" autocomplete="off">
                        <!-- <div *ngIf="formControls ['senha']?.invalid">
                            Campo obrigatório
                        </div> -->
                </div>

                <div class="col-md-10 mt-3">
                    <label class="form-label">Confirmar senha</label>
                    <input class="form-control" type="password" placeholder="Digite sua senha" name="confirmarSenha"
                        formControlName="confirmarSenha" minlength="8" autocomplete="off">
                </div>

                <div class="col-md-10 mt-5">
                    <label class="form-label">Qual trilha você deseja ter acesso?</label>
                    <div class="check mx-5">
                        <ng-container *ngFor="let item of trilhas; let index = index">
                            <p><input formControlName="trilha" name="index" (change)="selecionarTrilha($event, item)" type="checkbox" > {{ item.nome}}</p>
                        </ng-container>
                    </div>
                </div> <br>
                <div class="col-md-10 check">
                    <p class="aceite"><input type="checkbox" formControlName="checkboxLgpd"> Eu concordo em receber comunicações da Orange Juice e do Grupo FCamara. Ao
                        informar meus dados, estou ciente das diretrizes da Política de Privacidade.</p>
                </div>
                
                <div style="display: flex;" class="form-group justify-content-center">
                    <div class="col-md-4 col-md-offset-2 mt-3">
                        <span><button [disabled]="cadastroForm.invalid" class="btn" type="submit">Criar conta</button></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>