<div class="container">
    <div class="row justify-content-center">

        <div class="col-6 ">
            <form novalidate (ngSubmit)="adicionarConta()" [formGroup]="cadastroForm" autocomplete="off">
                <h4 style="padding-top:10px;">Crie sua conta</h4>
                  <div >
                    <mat-form-field fxFlex="80"   fxFlex.lt-md="100" appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input placeholder="Nome (requerido)"type="text" name="nome" formControlName="nome" matInput>
                        <mat-error *ngIf="formControls ['nome']?.invalid">
                            Campo obrigatório
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="80"   fxFlex.lt-md="100" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input placeholder="Email (requerido)"type="text" name="email" maxlength="80" formControlName="email" matInput>
                        <mat-error *ngIf="formControls ['email']?.invalid">
                            Campo obrigatório
                        </mat-error>
                    </mat-form-field>
                    </div>
                    <div>
                    <mat-form-field fxFlex="80"  fxFlex.lt-md="100" appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input name="senha" formControlName="senha" placeholder="Senha (requerido)" matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="formControls ['senha']?.invalid">
                            Campo obrigatório
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field fxFlex="80"  fxFlex.lt-md="100" appearance="outline">
                            <mat-label>Confirme a senha</mat-label>
                            <input name="confirmarSenha" formControlName="confirmarSenha" placeholder="Senha (requerido)" matInput [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="formControls ['confirmarSenha']?.invalid">
                                Campo obrigatório
                            </mat-error>
                          </mat-form-field>
                        </div>
                <p><input type="checkbox"> Aceito os Termos de Uso e Política de Privacidade</p>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2 mt-3">
                        <span><button class="btn btn-success" id="Registrar"
                                type="submit">Registrar</button></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
