input {
  border-radius: 16px;
  height: 35px;
  background: rgba(247, 243, 241, 0.15);
  border: 1px solid #000000;
}

input .form-control {
  color: #C9C6C4 !important;
}

.check label {
  display: block;
  padding-right: 10px;
  padding-left: 22px !important;
  text-indent: -22px;
}

.check input {
  vertical-align: middle;
  margin-right: 10px;

  .aceite {
    font-size: 12px;
  }
}

.btn-success:hover {
  background-color: #FF7823;
  background: #FF7823;
}

.btn:disabled {
  background: #C9C6C4;
}

.form-control {
  color: #C9C6C4;
}

.form-control:focus {
  background: rgba(247, 243, 241, 0.15);
  color: #C9C6C4;
}