<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="card-depoimento carousel-item active">
      <img src="/assets/medias/ImagemAlunoDepoimento.png" />
      <p class="depoimento">
        “A <b>Trilha Tech Orange </b> ajudou muito no meu início, além de dar uma ótima
        base, com conteúdos diversos, pude tirar dúvidas de uma forma bem
        rápida. Além de toda a plataforma da Orange Juice, que é ótima!”
      </p>
      <span class="nome">Tiago Soares</span>
      <p class="cargo">Desenvolvedor Full Stack na FCamara</p>
    </div>

    <div class="card-depoimento carousel-item">
      <img src="/assets/medias/ImagemAlunaDepoimento.png" />
      <p class="depoimento">
        “A <b>Trilha UX/UI</b> foi muito importante no meu início de jornada. Me fez
        perceber o quanto eu gostava realmente da área e me deu uma boa ótima
        base! Adorei!”
      </p>
      <span class="nome">Marina Shurtz</span>
      <p class="cargo">UX/UI designer na DogHero</p>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="depoimento-mobile">
  <div class="informacoes-pessoa">
    <img src="/assets/medias/ImagemAlunoDepoimento.png" />
    <div class="pessoa">
      <span class="nome">Tiago Soares</span>
      <p class="cargo">Desenvolvedor Full Stack na FCamara</p>
    </div>
  </div>
  <p class="depoimento">
    “A Trilha Tech Orange ajudou muito no meu início, além de dar uma ótima
    base, com conteúdos diversos, pude tirar dúvidas de uma forma bem rápida.
    Além de toda a plataforma da Orange Juice, que é ótima!”
  </p>
</div>
