button {
    color: #FF7823;
    background: #FF7823;
}

body {
        background: url('../assets/medias/PatternFundoTelaHomeSuperior.svg') no-repeat !important;
        background-color:#212122;
    
}