<mat-toolbar >
    <mat-nav-list class="list-horizontal">
        <mat-list-item>
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
        </mat-list-item>
        <mat-list-item>
            <a class="nav-link text-dark" [routerLink]="['/']">Sobre as Trilhas</a>
        </mat-list-item> 
        <mat-list-item>
            <a class="nav-link text-dark" href="https://digital.fcamara.com.br/orange-evolution" target="_blank" rel="noopener noreferrer"> Orange Juice</a>
        </mat-list-item>
    </mat-nav-list>
</mat-toolbar>
