<app-menu></app-menu>

<ng-container *ngIf="!usuario.isadmin">
    <div class="container mt-4">
        <div class="row justify-content-end">
            <div class="col-md-2 col-12">
                <div>
                    <p class="progresso-aula">Seu progresso nessa aula</p>
                </div>
                <div class="progress">
                    <div class="progress-bar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="aula != undefined">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-12 titulo-trilha justify-content-end" style="display: flex;">
                <strong>TRILHA </strong><span> {{ aula.nomeTrilha.nome }} </span>
            </div>

            <ng-container *ngIf="usuario.isadmin">
                <div class="col-md-4 col-12 justify-content-end" style="display: flex;">
                    <div style="display: flex; align-items: flex-end;">
                        <button class="btn" (click)="cadastrarConteudo()" type="submit">Adicionar conteúdo</button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row  mt-4 justify-content-center">
            <div class="col-md-5 col-12 titulo-aula justify-content-start" style="display: flex; padding-left: 30px;">
                <p>{{ aula.nomeAula.nome }}<strong> </strong></p>
            </div>
        </div>
    </div>

    <ng-container *ngFor="let conteudo of aula.conteudosDaAula">
        <ng-container *ngIf="conteudo.tipo != 'livro'">
            <div class="container">
                <div class="row tipo-de-conteudo mt-5 justify-content-center">
                    <div class="col-md-8 col-12">
                        <p style="margin-bottom: 0px;">#{{ conteudo.tipo }} #{{conteudo.autor}}</p>
                        <ng-container *ngIf="conteudo.tipo == 'vídeo'">
                            <iframe class="video-fluid z-depth-1" [src]="conteudo.link | safe:'resourceUrl'"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </ng-container>
                        <div class="row">
                            <div class="col-md-9 col-12">
                                <a href={{conteudo.link}} target="_blank">
                                    <p class="titulo-conteudo">{{ conteudo.nome }}</p>
                                </a>
                            </div>
                            <ng-container *ngIf="conteudo.tipo != 'vídeo' && !usuario.isadmin">
                                <div class="col-md-3 col-12 justify-content-end"
                                    style="display: flex; align-items: flex-end;">
                                    <a href={{conteudo.link}} target="_blank"><button class="btn" type="submit">Ir para
                                            {{
                                            conteudo.tipo }}</button></a>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="usuario.isadmin">
                                <div class="col-md-3 col-12 justify-content-end"
                                    style="display: flex; align-items: flex-end;">
                                    <button (click)="excluirConteudo(conteudo)" matTooltipPosition="left"
                                        style="float: none" type="button" class="grid-button">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <button (click)="editarConteudo(conteudo)" matTooltipPosition="left"
                                        style="float: none" type="button" class="grid-button">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>

                        <p class="sobre-conteudo">SOBRE O {{ conteudo.tipo | uppercase }}</p>
                        <div class="row">
                            <div class="col-md-11 col-12">
                                <p class="resumo-conteudo"> {{ conteudo.descricao }}</p>
                            </div>
                        </div>
                        <div fxLayout="row wrap" fxLayoutAlign="start top" fxLayoutGap="25px">
                            <mat-checkbox fxLayoutAlign="center center">
                                {{ conteudo.tipo | lido}}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12">
                        <hr class="separator" />
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="contemLivros()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-12">
                    <div class="row">
                        <div class="col para-aprofundar">PARA APROFUNDAR:</div>
                    </div>
                    <div class="row">
                        <div class="col livros">Livros:</div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngFor="let livro of aula.conteudosDaAula">
        <ng-container *ngIf="livro.tipo == 'livro'">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-12">
                        <div class="row">
                            <div class="col-md-2 col-12">
                                <img style="height: 200px;" [src]="livro.link" [alt]="livro.nome">
                            </div>
                            <div class="col-md-9 col-12" style="padding-left: 25px;">
                                <p class="forum">Nome do livro: <strong>{{ livro.nome}}</strong></p>
                                <p class="forum">Autor: <strong>{{ livro.autor}}</strong></p>
                                <p class="sobre-conteudo">SOBRE O {{ livro.tipo | uppercase }}</p>
                                <p class="forum">{{ livro.descricao }}</p>
                            </div>
                            <ng-container *ngIf="usuario.isadmin">
                                <div class="col-md-1 col-12 justify-content-end" style="display: flex; align-items: flex-start;">
                                    <button (click)="excluirConteudo(livro)" matTooltipPosition="left" style="float: none"
                                        type="button" class="grid-button">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <button (click)="editarConteudo(livro)" matTooltipPosition="left" style="float: none"
                                        type="button" class="grid-button">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <hr class="separator" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12 justify-content-center" style="display: flex;">
                <button class="btn" type="submit">Ir para próxima aula</button>
            </div>
            <form novalidate (ngSubmit)="enviarDuvida()" [formGroup]="forumForm" autocomplete="off">
                <div class="row justify-content-center mt-5">
                    <div class="col-md-6 col-12">
                        <p class="forum"><strong>Ficou com alguma dúvida?</strong> Manda pra gente, respondemos em
                            breve.</p>
                        <div class="form-outline">
                            <textarea class="form-control" id="duvida" placeholder="Escreva sua dúvida aqui." rows="6"
                                autocomplete="off" name="forum" formControlName="forum"></textarea>
                            <span><button [disabled]="!forumForm.valid" class="btn mt-3" style="float: right;"
                                    type="submit">Enviar dúvida</button></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-container>