.progresso-aula {
font-size: 12px;
color: #C9C6C4;
}

.progress {
    margin-top: 5px;
    margin-bottom: 20px;
    background: transparent;
    border: 1px solid #FF7823;
}

.progress-bar {
    background: #FF7823;
    box-shadow: 0px 4px 77px #FF7823;
    border: 1px solid #FF7823;
    padding: 10px;
}

.titulo-trilha {
    font-size: 40px;
    color: #C9C6C4;

    span {
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ffffff;
    }
}

.titulo-aula {
font-size: 25px;
color: #FFFBF9;
}

.tipo-de-conteudo {
font-size: 12px;
color: #C9C6C4;
}

.sobre-conteudo {
font-size: 15px; 
color: #FF7823;
}

.resumo-conteudo {
font-size: 14px;
color: #FFFFFF;
text-align: justify;
}

.titulo-conteudo{
font-size: 20px;
text-decoration-line: underline;
color: #FFFFFF;
margin-top: 20px;
}

.check-conteudo{
    font-size: 14px;
    color:#C9C6C4;
    border: none;
    background: none;
    margin-top: 10px;
}

.separator {
    margin-top: 50px;
    box-shadow: 0px 0px 41px #FF7823;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(221, 103, 20, 0), rgba(255, 120, 35, 0.75), rgba(0, 0, 0, 0));
    // width: 400px;
}

.btn-primario {
    font-size: 14px;
    color: #FFFBF9;
    border-radius: 20px;
    border: 1px solid #FFA000;
    box-shadow: 0px 0px 1px #FFA000;
    background: transparent;
    padding: 7px;
}
