<app-menu></app-menu>

<div class="container mt-5">
    <div class="row justify-content-end">
        <div class="col-md-2 col-12">
            <div>
                <p class="progresso-aula">Seu progresso nessa aula</p>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6 col-12 titulo-trilha">
        <strong>TRILHA</strong><span> UX/UI DESIGN </span>
    </div>
</div>
<div class="row  mt-4 justify-content-center">
    <div class="col-md-6 col-12 titulo-aula">
        <p>Introdução ao UX - <strong> O que é UX?</strong></p>
    </div>
</div>


<!-- <ng-container *ngFor="let item of list"> -->
    <div class="container">
        <div class="row tipo-de-conteudo mt-5 justify-content-center">
            <div class="col-md-8 col-12">
                <p>#Video #Orange Juice #Live</p>
                <!-- <div class="video">
                    <video controls (click)="toggleVideo()" #videoPlayer>
                        <source src="{{videoSource}}" type="video/mp4" />
                        Browser not supported
                    </video>
                </div> -->
                <p class="sobre-conteudo">SOBRE O VÍDEO: </p>
                <p class="resumo-conteudo"> Em algum lugar além do arco-íris, o UX Design foi criado para ajudar a
                    entendermos o usuário e melhorar sua
                    experiência, seja ela com um produto, marca ou sistema. Nosso time UX Rainbow, formado por Carla
                    Mendanha,
                    Melody Bruni, Diego Tavares, Karem Carvalho, Carlos Gizbert e Luis Henrique Souto, irão bater um papo
                    para falar
                    sobre a área de UX/UI Design e como trabalham dentro da FCamara.</p>
                <span><button class="check-conteudo"><input type="checkbox"> Assisti a aula</button></span>
            </div>
        </div>
    </div>
<!-- <div class="container"> -->


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <hr class="separator" />
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row col-md-6 col-12 tipo-de-conteudo mt-5">
        <p>#Artigo #Medium #Orange Juice</p>
        <p class="titulo-conteudo">Design Thinking, uma abordagem para a sua vida</p>
        <p class="sobre-conteudo">SOBRE O ARTIGO : </p>
        <p class="resumo-conteudo">Design Thinking é uma forma de olhar o mundo, um jeito crítico e criativo de
            solucionar problemas, uma abordagem multidisciplinar. O Design Thinking tem um roteiro muito flexível, e
            é preciso entender bem os seus conceitos antes de aplicá-los.
        </p>
        <span><button class="check-conteudo"><input type="checkbox"> Li o artigo</button></span>
    </div>
</div> -->