<app-menu></app-menu>

<div class="container mt-4">
    <div class="row justify-content-end">
        <div class="col-md-2 col-12">
            <div>
                <p class="progresso-aula">Seu progresso nessa aula</p>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6 col-12 titulo-trilha">
        <strong>TRILHA</strong><span> UX/UI DESIGN </span>
    </div>
</div>
<div class="row  mt-4 justify-content-center">
    <div class="col-md-6 col-12 titulo-aula">
        <p>Introdução ao UX - <strong> O que é UX?</strong></p>
    </div>
</div>


<!-- <ng-container *ngFor="let item of list"> -->
<div class="container">
    <div class="row tipo-de-conteudo mt-5 justify-content-center">
        <div class="col-md-8 col-12">
            <p>#Video #Orange Juice #Live</p>
            <!-- <div class="video">
                    <video controls (click)="toggleVideo()" #videoPlayer>
                        <source src="{{videoSource}}" type="video/mp4" />
                        Browser not supported
                    </video>
                </div> -->
            <p class="sobre-conteudo">SOBRE O VÍDEO: </p>
            <p class="resumo-conteudo"> Em algum lugar além do arco-íris, o UX Design foi criado para ajudar a
                entendermos o usuário e melhorar sua
                experiência, seja ela com um produto, marca ou sistema. Nosso time UX Rainbow, formado por Carla
                Mendanha,
                Melody Bruni, Diego Tavares, Karem Carvalho, Carlos Gizbert e Luis Henrique Souto, irão bater um papo
                para falar
                sobre a área de UX/UI Design e como trabalham dentro da FCamara.</p>
            <span><button class="check-conteudo"><input type="checkbox"> Assisti a aula</button></span>
        </div>
    </div>
</div>
<!-- <div class="container"> -->


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <hr class="separator" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row tipo-de-conteudo mt-2 justify-content-center">
        <div class="col-md-8 col-12">
            <a href="https://medium.com/orangejuicefc/mas-o-que-%C3%A9-ux-330edd9c6887" target="_blank"
                rel="noopener noreferrer"><span><button class="btn-primario">Ler artigo</button></span></a>
            <p>#Artigo #Orange Juice #Medium</p>
            <p class="titulo-conteudo">Mas o que é UX?</p>
            <p class="sobre-conteudo">SOBRE O ARTIGO : </p>
            <p class="resumo-conteudo">O UX é um termo relativamente jovem, usado pela primeira vez por Donald Norma em
                1996 quando trabalhava na Apple. No Brasil, esse termo começa a ser usado só em 2010 e ganha muita força
                na pandemia do Corona vírus de 2020.
                Mas o que seria exatamente UX? 
            </p>
                <span><button class="check-conteudo"><input type="checkbox"> Li o artigo</button></span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <hr class="separator" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row tipo-de-conteudo mt-2 justify-content-center">
        <div class="col-md-8 col-12">
            <a href="https://www.alura.com.br/apostila-ux-usabilidade-mobile-web/experiencia" target="_blank"
                rel="noopener noreferrer"><span><button class="btn-primario">Ir para apostila</button></span></a>
            <p>#Apostila #Parceiro #Alura</p>
            <p class="titulo-conteudo">UX e usabilidade aplicados em Mobile e Web</p>
            <p class="sobre-conteudo">SOBRE A APOSTILA : </p>
            <p class="resumo-conteudo">Experiência do Usuário (UX) é um tema bastante subjetivo. É difícil de maneira
                objetiva e direta dizer como desenhar uma experiência do usuário, mas é possível aprendermos como
                desenhar um produto, serviço ou ambiente que proporcione uma experiência satisfatória para alguém que os
                use.
            </p>
            <span><button class="check-conteudo"><input type="checkbox"> Li a apostila</button></span>
        </div>
    </div>
</div>