
<div class="container mt-5">
    <div class="row justify-content-center">

      <div class="col-md-6 col-12">
        <form class="row justify-content-center" novalidate (ngSubmit)="adicionarConteudo()"
          [formGroup]="adicionarConteudoForm" autocomplete="off">

          <h3>Adicionar Conteúdo</h3>
          <p> 01 - Introdução ao UX - O que é UX?</p>
          <!-- PEGAR O NOME DO MODULO NO BANCO DE DADOS -->
          <div class="col-md-10 mt-3">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" placeholder="título do conteúdo" name="titulo"
              formControlName="titulo" autocomplete="off">
          </div>

          <div class="col-md-10 mt-3">
            <label class="form-label">link</label>
            <input class="form-control" type="text" placeholder="Insira o link" name="link" formControlName="link"
              autocomplete="off">
          </div>

          <div class="col-md-10 mt-3">
            <label class="form-label">Descrição</label>
            <input class="form-control" type="text" placeholder="Breve descrição" name="descricao"
              formControlName="descricao" autocomplete="off">
          </div>

          <div class="col-md-10 mt-3">
            <label class="form-label">Tipo de conteúdo</label>
            <input class="form-control" type="text" placeholder="Ex: Vídeo,Artigo." name="tipoConteudo"
              formControlName="tipoConteudo" autocomplete="off">
          </div>

          <div class="col-md-10 mt-3">
            <label class="form-label">Autor</label>
            <input class="form-control" type="text" placeholder="Ex: Orange Juice." name="autor" formControlName="autor"
              autocomplete="off">
          </div>

          <div style="display: flex;" class="form-group justify-content-center">
            <div class="col-md-4 col-md-offset-2 mt-3">
              <b><button class="btn-fechar" (click)="fecharModal()">Cancelar</button></b>
              <span><button [disabled]="adicionarConteudoForm.invalid" class="add-conteudo" type="submit"> Adicionar
                  Conteúdo</button></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>