.modal-add-conteudo {
  background: #FFFBF9;
  border-radius: 22px;
}

.add-conteudo {
    font-size: 14px;
    color: #212121;
    background: rgba(255, 120, 35, 0.2);
    border: 2px solid #FF7823;
    box-shadow: 0px 0px 11px #FF7823;
    border-radius: 20px;
    width: 162px;
    padding: 10px;
}

.btn-fechar {
  font-size: 14px;
  color: #000;
  border-radius: 20px;
  border: 1px solid #FFA000;
  box-shadow: 0px 0px 1px #FFA000;
  background: transparent;
  padding: 10px;
}
