/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Intelo";
    src: local("Intelo"), url(assets/fonts/Intelo/Intelo-Regular.ttf) format("truetype");
}
.mat-drawer-container {
    background-color: #eeeeee;
}
body {
    font-family: "Intelo", "Helvetica Neue", sans-serif;
    background-color: #eee;
    position: relative;
    width: 100%;
    height: 100%;
}
body,
html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.page-footer {
    background: #225d38 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #e8e8e8;
    text-align: right;
    font: normal normal 300 14px/20px Intelo;
    letter-spacing: 0.25px;
    color: #ffffff;
    padding-right: 21px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}


.mat-header-cell {
  font-size: 13px !important;
  font-weight: 700 !important;
  color: #000 !important;
}
tr.mat-header-row {
  height: auto !important;
}
