<mat-toolbar >
    <mat-nav-list class="list-horizontal">
        <mat-list-item>
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
        </mat-list-item>
        <mat-list-item>
            <a class="nav-link text-dark" [routerLink]="['/']">Orange Juice</a>
        </mat-list-item> 
        <mat-list-item>
            <a class="nav-link text-dark" [routerLink]="['/']"> Fale conosco</a>
        </mat-list-item>
        <mat-list-item>
            <button mat-button [matMenuTriggerFor]="menu">Administrador</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/adicionar-trilha']">
                    <mat-icon>edit</mat-icon>
                    <span>Cadastrar Trilha</span>
                </button>
                <button mat-menu-item [routerLink]="['/adicionar-conteudo']"> 
                    <mat-icon>edit</mat-icon>
                    <span>Cadastrar Conteúdo</span>
                </button>
            </mat-menu>
        </mat-list-item>
    </mat-nav-list>
</mat-toolbar>