<mat-toolbar>
    <mat-nav-list class="list-horizontal">
        <mat-list-item>
            <a class="nav-link text-dark" [routerLink]="['/home']">Home</a>
        </mat-list-item>
        <mat-list-item>
            <a class="nav-link text-dark" [routerLink]="['/dashboard-perfil']">Minhas trilhas</a>
        </mat-list-item>
        <mat-list-item>
            <a class="nav-link text-dark" [routerLink]="['/']">FAQ</a>
        </mat-list-item>
        <mat-list-item>
            <a class="nav-link text-dark" [routerLink]="['/']">Diferenciais</a>
        </mat-list-item>
        <mat-list-item>
            <a class="nav-link text-dark" href="https://digital.fcamara.com.br/orange-evolution" target="_blank"
                rel="noopener noreferrer">Orange Juice</a>
        </mat-list-item>
        <mat-list-item>
            <a class="nav-link text-dark" [routerLink]="['/']"> Fale conosco</a>
        </mat-list-item>
        <mat-list-item>
            <a class="nav-link text-dark" [routerLink]="['/']"><mat-icon>notifications_none</mat-icon></a>
        </mat-list-item>
        <mat-list-item >
            <a class="nav-link text-dark" [routerLink]="['/login']">Sair</a>
        </mat-list-item>
        <mat-list-item>
            <span><button class="btn" [routerLink]="['/login']" type="submit">Entrar/Cadastrar</button></span>
        </mat-list-item>
    </mat-nav-list>
</mat-toolbar>